<body class="home_gray">
  <% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
  <% if alert %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% else %>
    <div style="margin-top: 30px;">&nbsp</div>
  <% end %>
  <div style="margin-top: 30px;">&nbsp</div>
  
  <div class="container col-12 col-sm-7 col-md-4" align="center" style="padding-top: 10px; padding-bottom: 10px; border: 1px solid #F2F2F2; border-radius: 4px; background: white; ">
  <h2 style="margin-top: 20px;"><%= t('.change_your_password') %></h2>
  <hr class="col-5 col-sm-5 col-md-5">
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    
    <div class="col-12 col-sm-12 col-md-12">
      <%= devise_error_messages! %>
    </div>
    
    <%= f.hidden_field :reset_password_token %>
  
    <div class="field col-12 col-sm-11 col-md-10" align="left">
      <%= f.label :password, t('.new_password') %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control no-border" %>
    </div>
  
    <div class="field col-12 col-sm-11 col-md-10" align="left">
      <%= f.label :password_confirmation, t('.confirm_new_password') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control no-border" %>
    </div>
  
    <div class="actions" align="center"><br/>
      <%= f.submit t('.change_my_password'), class: "btn btn-primary"%> <%= render "devise/shared/links" %>
    </div>
  <% end %>
  </div>
  <div style="margin-top:10px;"></div>
  <center><%= render "devise/shared/info" %></center>
</body>