<body class="home_gray">
  <% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
  <% if alert %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% else %>
    <div style="margin-top: 30px;">&nbsp</div>
  <% end %>
  <div style="margin-top: 30px;">&nbsp</div>
  
  <div class="container col-12 col-sm-7 col-md-3" align="center" style="padding-top: 10px; border: 1px solid #F2F2F2; border-radius: 4px; background: white; ">
  <h2 style="margin-top: 20px;"><%= t('.sign_in') %></h2>
  <hr class="col-5 col-sm-5 col-md-5 ">
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-12 col-sm-12 col-md-12">
      <%= devise_error_messages! %>
    </div>

    <div class="field col-12 col-sm-11 col-md-10" align="left">
      <%= f.label :이메일 %><br />
      <%= f.email_field :email, class: "form-control no-border", autofocus: true, :required => true %><br/>
    </div>
  
    <div class="field col-12 col-sm-11 col-md-10" align="left">
      <%= f.label :비밀번호 %><br />
      <%= f.password_field :password, class: "form-control no-border", autocomplete: "off", :required => true %>
    </div>
    <br/>
    <% if devise_mapping.rememberable? -%>
      <div class="field col-12 col-sm-11 col-md-10" align="left">
        <%= f.check_box :remember_me %>
        <%= f.label :자동로그인 %>
      </div>
  
      <div class="field col-12 col-sm-9 col-md-5" align="right"><%# link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name), style: "color: yellow" %></div>
    <% end -%>
  
    <div class="actions" align="center"><br/>
      <%= f.submit t('.sign_in'), class: "btn btn-primary" %> <%= render "devise/shared/links" %><br/><br/>
      <% end %>
    </div>
  </div>
  <div style="margin-top:10px;"></div>
  <center><%= render "devise/shared/info" %></center>
</body>