<!DOCTYPE html>
<html>
  <head>
    <title>.:: 반려화분 ::.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- jquery, 드랍박스 활성화 -->
    <script type="text/javascript" src="/js/drop-down.js"></script>
    
    <!-- 카카오톡 썸네일 -->
    <meta property="og:image" content="/img/op_thum.png">
    
    <!-- 개인 CSS / JS -->  
    <link rel="stylesheet" href="/css/image-box.css">
    <link rel="stylesheet" href="/css/customize.css">
    <script type="text/javascript" src="/js/count_down.js"></script>
    <script type="text/javascript" src="/js/tool-tip.js"></script>
    <script type="text/javascript" src="/js/smooth-scroll.js"></script>
    
    <!-- Fade-in 효과 -->
    <link rel="stylesheet" href="/css/fade-in.css">
    
    <!-- 부트스트랩 CDN, AWESOME 폰트 CDN -->  
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="//v4-alpha.getbootstrap.com/assets/css/docs.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->
    
    <!-- 상단 메뉴 관련 -->
    <link rel="stylesheet" type="text/css" href="/nav-bar/paper-kit.css">
    <script src="/nav-bar/paper-kit.js"></script>
    <script src="/nav-bar/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.css">
    
    <!-- 폰트 -->
    <style>
    	/* 나눔고딕 */
    	@font-face {
    	font-family: 'NanumGothic';
    	src: url('/font/NanumGothic.eot');
    	src: local('※'), 
    	url('/font/NanumGothic.woff') format('woff'), 
    	url('/font/NanumGothic.ttf') format('truetype')
    	}
    	
    	/* 나눔 손글씨 */
    	@font-face {
    	 font-family:'Nanum Pen Script';
    	 font-style:normal;
    	 font-weight:400;
    	 src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.eot);
    	 src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.eot?#iefix) format('embedded-opentype'),
    	 url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.woff) format('woff'),
    	 url(//cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.ttf) format('truetype')
    	}
    	
    	/* 웹 페이지 기본 글씨체 */
    	body{
    	  font-family: 'NanumGothic', '나눔고딕', sas-serif;
    	}
    </style>
  </head>

  <body style="margin: 0px 0px 0px 0px">
    <!-- Navigation 상단 메뉴 -->
    <nav class="navbar navbar-toggleable-md fixed-top" color-on-scroll="-1">
    <% #원본 <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="50"> %>
      <div class="container">
        <div class="navbar-translate">
        <button class="navbar-toggler navbar-toggler-right navbar-burger" style="margin-top: 15px;" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
        </button>
        <%= link_to(image_tag("/img/logo.png", style: "width: 150px; margin-top: -20px;"), "/", class: "navbar-brand hidden-lg-up") %>
        <%= link_to(image_tag("/img/logo.png", style: "width: 150px;"), "/", class: "hidden-md-down") %>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <% #모바일에서만 보여지는 메뉴 %>
          <% if user_signed_in? %>
            <li class="nav-item dropdown hidden-lg-up">
              <%= link_to "#", class: "nav-link dropdown-toggle", data: {toggle: "dropdown" }, role: "button", aria: {haspopup: "true", expanded: "false" } do %>
                <div class="menu_etc"><i class="fa fa-id-card-o" aria-hidden="true" style="font-size: 15px;"></i> <%= current_user.nickname %> <i class="fa fa-angle-down" aria-hidden="true" style="font-size: 15px; margin-left: 10px;"></i></div>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right dropdown-info">
                <li class="dropdown-item"><%= link_to "정보 수정", "/users/edit", method: :get %></li>
                <li class="dropdown-item"><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item hidden-lg-up">로그인 해주세요!<br/><%= link_to '<p style="margin-left: 10px"></p>시작하기<p style="margin-left: 10px"></p>'.html_safe, "/users/sign_in", class: "nav-link btn btn-secondary btn-round" %></li>
          <% end %>
          
          <div style="border-bottom: 1px solid black; margin-left: -30px;" class="hidden-lg-up"></div>
          <% #모바일에서만 보여지는 메뉴 끝 %>
          
          <li class="nav-item dropdown">
            <%= link_to '<i class="fa fa-leaf" aria-hidden="true"></i> 식물도감 <i class="fa fa-angle-down" aria-hidden="true" style="font-size: 15px; margin-left: 5px;"></i>'.html_safe, "#", class: "nav-link dropdown-toggle", data: {toggle: "dropdown" }, role: "button", aria: {haspopup: "true", expanded: "false" } %>
            <ul class="dropdown-menu dropdown-menu-right dropdown-info">
            <li class="dropdown-item"><%= link_to "스투키", "/flowers/stuckyi" %></li>
            <li class="dropdown-item"><%= link_to "해마리아", "/flowers/haemaria" %></li>
            <li class="dropdown-item"><%= link_to "틸란드시아", "/flowers/tillandsia" %></li>
            </ul>
          </li>
          
          <li class="nav-item"><%= link_to '<i class="fa fa-paper-plane" aria-hidden="true"></i> 문의 게시판'.html_safe, "/posts", class: "nav-link" %></li>
          
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to '<i class="fa fa-book" aria-hidden="true"></i> 나의 도감'.html_safe, "/users/#{current_user.id}", class: "nav-link" %></li>
          <% end %>
        
          <% # PC에서만 보여지는 메뉴 %>
          <% if user_signed_in? %>
          <li class="nav-item dropdown hidden-md-down">
              <%= link_to "#", class: "nav-link dropdown-toggle", data: {toggle: "dropdown" }, role: "button", aria: {haspopup: "true", expanded: "false" } do %>
                <div class="menu_etc"><i class="fa fa-id-card-o" aria-hidden="true" style="font-size: 15px;"></i> <%= current_user.nickname %> <i class="fa fa-angle-down" aria-hidden="true" style="font-size: 15px; margin-left: 10px;"></i></div>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right dropdown-info">
                <li class="dropdown-item"><%= link_to "정보 수정", "/users/edit", method: :get %></li>
                <li class="dropdown-item"><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item hidden-md-down"><%= link_to '<p style="margin-left: 10px"></p>시작하기<p style="margin-left: 10px"></p>'.html_safe, "/users/sign_in", class: "nav-link btn btn-secondary btn-round", style: "margin-top: 20px;" %></li>
          <% end %>
          <% # PC에서만 보여지는 메뉴 끝 %>
        </ul>
        </div>
      </div>
    </nav>
	  <!-- Navigation 상단메뉴 종료 -->
	  <%= tinymce_assets %>
    <%= yield %>
    <div style="background-color: #624848; padding: 20px 0px 20px 0px;">
      <div class="container">
        <p style="color: white; font-size: 13px;">
        홈페이지에 대한 문의는 아래를 이용해주세요. <br/>
        <i class="fa fa-envelope-o" aria-hidden="true"></i> 이메일 : - <br>
        <i class="fa fa-phone" aria-hidden="true"></i> 연락처 : <a href="tel:010-000-0000" style="color: white">010-000-0000</a><br/><br/>
        <div align="center">
          <span style="color: white; font-weight: bold; font-size: 13px;">Copyright ⓒ 2017 김상열 | 김철민 Kangwon Nati. Univ.</span>
        </div>
        </p>
      </div>
    </div>
  </body>
</html>
